@if(article){
<div class="container my-5">
    <div class="row">
        <div class="button-container">
            <app-sidebar-cart class="float-button" [cart]="cart"></app-sidebar-cart>
            <button class="btn btn-nuvant float-button" [routerLink]="['/home/shopping']">
                <mat-icon>arrow_back</mat-icon>
                Volver
            </button>
        </div>
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (image of article.images; track $index; let i = $index) {
                    <div class="carousel-item active">
                        <img src="../../../../assets/images/image.png" class="d-block w-100" alt="{{article.description}}">
                    </div>
                    <div class="carousel-item">
                        <video class="d-block w-100" controls>
                            <source src="assets/videos/video1.mp4" class="d-block w-100" type="video/mp4">
                        </video>
                    </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <h1>{{ article.description }}</h1>
            <p class="lead">{{ article.description }}</p>
            <h4>{{ article.price | currency }}</h4>
            <div class="mb-3">
                <label for="quantity" class="form-label">Cantidad</label>
                <input type="number" id="quantity" class="form-control" [(ngModel)]="quantity" min="1" />
            </div>

            <button class="btn btn-nuvant" (click)="addToCart(article)">Agregar al carrito</button>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <h2>Articulos Similares</h2>
        <div class="d-flex overflow-auto" style="white-space: nowrap;">
            @for (similarArticle of similarArticles; track $index) {
            <div class="col-md-3" style="flex: 0 0 auto; margin-right: 15px;">
                <div class="card">
                    <img src="../../../../assets/images/image.png" class="card-img-top" alt="{{similarArticles.description}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ similarArticles.description }}</h5>
                        <p class="card-text">{{ similarArticles.price | currency }}</p>
                        <button class="btn btn-nuvant" [routerLink]="['/home/product-detail', similarArticles.id]">
                            Ver Producto
                        </button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div> -->
</div>
}@else{
<ng-template #loading>
    <div class="alert alert-warning">Cargando producto...</div>
</ng-template>
}
<app-help></app-help>