:host {
  display: block;
}

.btn-nuvant {
  border: none;
  background-color: #ff6647;
  margin-bottom: 1rem;
  color: white;  
  display: inline-flex;
  align-items: center;
  justify-content: center;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.btn-nuvant:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.mat-icon {
  font-size: 1.5rem; 
  transition: transform 0.3s ease;
}

.mat-icon:hover {
  transform: scale(1.1);
}

.card{
  background-color: white;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  padding: 1rem;
}
@media (max-width: 768px) {
  .card {
      width: 150px;
  }
}


.button-container {
  text-align: center;
}

.float-button{
  float: right;
  margin-right: 10px;
}

