:host {
  display: block;
}

.btn-nuvant {
  border: none;
  background-color: #ff6647;
  margin-bottom: 1rem;
  color: white;  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: white;
}

.button-container {
  text-align: center;
}

.float-button{
  float: right;
  margin-right: 10px;
}
