<form class="container h-100 align-content-center" [formGroup]="myForm" (ngSubmit)="login()">
  <div class="row justify-content-center mx-sm-0 mx-3 h-100">
    <div class="col-md-7 col-lg-6 col-xl-5 card p-md-5 p-4 container-card-login justify-content-between">
      <h1 class="text-center mb-4 title-login">Bienvenidos</h1>

      <div class="form-group mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" formControlName="email" class="form-control" id="email" name="email"
          placeholder="Correo electrónico" required>
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="password" name="password"
          placeholder="Ingrese su contraseña" required>
      </div>

      <div class="form-group mb-3">
        <label for="MFA" class="form-label">Código de verificación {{myForm.value.tokenMFA.length}}/6</label>
        <input type="text" formControlName="tokenMFA" class="form-control" id="tokenMFA" name="tokenMFA"
          placeholder="Ingrese el código MFA" required maxlength="6" pattern="\d{6}">
      </div>

      @if(!spinnerLogin){
      <div class="d-flex justify-content-between mb-3">
        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary btn-login w-100">Login</button>
      </div>
      }

      @if(spinnerLogin){
      <div class="text-center">
        <button class="btn btn-loading" type="button" disabled>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          Cargando...
        </button>
      </div>
      }

    </div>
  </div>
</form>