:host {
  height: 100vh;
  display: block;
  background-size: cover;
  background-image: url("../../../assets/images/image1.png");

}

.container-card-login {
  margin: auto;
  opacity: 0.9;
  max-width: 100%;
  overflow: hidden;
}

.btn-login {
  border: none;
  background-color: #ff6647;
}

.title-login {
  color: #ff6647;
  font-weight: 500;
  font-size: 35px;
  @media (max-width: 500.2px) {
    font-size: 26px;
  }
}

@media (max-width: 500.2px) {
  .title-login {
    font-size: 26px;
  }
}

.btn-loading {
  border: none;
  font-size: 20px;
}

.media-responsive {
  max-width: 100%;
  height: auto;
  max-height: 175px; 
}

