<div class="container">
  <div class="row">
    <h1 class="text-center mb-1 title-login mb-3">{{customer?.name}}</h1>
    <div class="d-flex align-items-start">
      <div class="dropdown me-2">
        <button class="btn btn-nuvant dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Direcciones
        </button>
        <ul class="dropdown-menu">
          @for (address of addresses; track $index) {
            <li><button class="dropdown-item" type="button">{{ address }}</button></li>
          }
        </ul>
      </div>

      <app-sidebar-cart [cart]="cart"></app-sidebar-cart>

      <div class="input-group mx-2">
        <input type="text" class="form-control ml-5" placeholder="Buscar productos" aria-label="Buscar productos"
          aria-describedby="button-addon2">
        <button class="btn btn-nuvant" type="button" id="button-addon2">
          <mat-icon class="text-white d-flex justify-content-center align-items-center">search</mat-icon>
        </button>
      </div>
    </div>

    <div>
      <div class="d-flex flex-wrap align-items-center">
        @for (product of products; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-3 mx-4 mb-4">
          <div class="card h-100">
            <img src={{product.image}} class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text text-success">{{ product.price | currency:'USD' }}</p>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-sm btn-nuvant mx-2 mb-1" (click)="addToCart(product)">Agegar al carrito</button>
              <button class="btn btn-sm btn-nuvant" [routerLink]="['/home/product-detail', product.id]">
                Ver Detalle
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
<app-help></app-help>