:host {
  height: 100%;
  display: block;
}

h1.title-login {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  h1.title-login {
    font-size: 2rem;
  }
}

.dropdown .btn-nuvant {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.dropdown .btn-nuvant:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#button-addon2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

#button-addon2:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#button-addon2 mat-icon {
  font-size: 1.5rem;
}

.mat-icon {
  font-size: 1.5rem; 
  transition: transform 0.3s ease;
}

.mat-icon:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-body .btn-nuvant {
  flex: 1;
  max-width: 48%;
  height: 2.5rem;
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  height: 3em;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  height: 1.5em;
}
.card{
  background-color: white;
  transition: transform 0.3s ease-in-out, 
  box-shadow 0.3s ease-in-out;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}

.btn-nuvant{  
  border: none;
  background-color: #ff6647;
  color: white;
}

.btn-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  margin-top: 1rem;  
  background-color: #ff6647;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;  
  background-color: #e268506e;
  color: white;
}


