<div class="container">
    <div class="row">
        @for(product of products; track $index){
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              <div class="card h-100">
                <img src="../../../../assets/images/image.png" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text text-success">{{ product.price | currency:'USD' }}</p>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-primary btn-add" (click)="addToCart(product)">Añadir al carrito</button>
                </div>
              </div>
            </div>
        }
    </div>
  </div>
  