<div class="container mt-4">
    @if (purchaseCompleted) {
    <div class="alert alert-success text-center empty-cart">
        <p>Gracias por su compra.</p>
        <button class="btn btn-back" [routerLink]="['/home/shopping']">
            <mat-icon>arrow_back</mat-icon>
            Volver a comprar
        </button>
    </div>
    }
    @if (cart.length === 0 && !purchaseCompleted) {
    <div class="alert alert-info text-center empty-cart">
        <p>Tu carrito está vacío.</p>
        <button class="btn btn-back" [routerLink]="['/home/shopping']">
            <mat-icon>arrow_back</mat-icon>
            Volver a comprar
        </button>
    </div>
    }
    @if (cart.length > 0) {
    <div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="text-center mb-0 fw-bold">Carrito de Compras</h2>
            <button class="btn btn-sm btn-back" [routerLink]="['/home/shopping']">
                <mat-icon class="icon-back">arrow_back</mat-icon> Volver
            </button>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle">
                <thead class="table-light">
                    <tr class="thead">
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Código</th>
                        <th>Categoría</th>
                        <th>Clase</th>
                        <th>Presentación m/rollo</th>
                        <th>Cantidad m/rollo</th>
                        <th>Precio unitario {{ cart[0].currency }}</th>
                        <th>Subtotal {{ cart[0].currency }}</th>
                        <th>Impuesto {{ cart[0].currency }}</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (article of cart; let i = $index; track i) {
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ article.description }}</td>
                        <td>{{ article.itemNumber }}</td>
                        <td>{{ article.catPrice }}</td>
                        <td>{{ article.g_class }}</td>
                        <td>{{ article.staticPackingUnit }}</td>
                        <td>
                            <input type="number" class="form-control text-center mx-auto" style="max-width: 80px;"
                                [(ngModel)]="article.g_qPackingUnit"
                                (change)="updateQuantity(article.id, article.g_qPackingUnit)" min="1" />
                        </td>
                        @if ( article.basePrice > 0) {
                        <td>{{ article.basePrice | number: '1.0-2' }}</td>
                        }@else {
                        <p class="card-text text-danger text-center">No tiene precio</p>
                        }
                        <td>{{ (article.basePrice * article.g_qPackingUnit) | number: '1.0-2' }}</td>
                        <td>{{ (article.taxPercentage * article.basePrice * article.g_qPackingUnit) / 100 | number:
                            '1.0-2' }}</td>
                        <td>
                            <div class="text-center">
                                <mat-icon class="text-danger" (click)="removeFromCart(i)">delete_forever</mat-icon>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="summary-container">
            <div class="summary-left">
                <label for="delivery-date" class="label">Fecha de entrega al cliente:</label>
                <input type="date" id="delivery-date" class="form-control" [(ngModel)]="order.deliveryDate" />

                <div class="total-to-pay">
                    <span class="label">TOTAL A PAGAR:</span>
                    <span class="fw-bold">{{ finalAmount() | currency: cart[0].currency }}</span>
                </div>
                @if (!isLoading) {
                <button class="btn btn-process" (click)="createOrder()">Procesar pedido</button>
                }@else {<button class="btn btn-process" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    Cargando orden...
                </button>}
            </div>
            <div class="summary-right">
                <div class="order-summary">
                    <div class="row">
                        <span class="label">Total + Impuestos:</span>
                        <span class="value">{{ finalAmount() | currency: cart[0].currency }}</span>
                    </div>
                    <div class="taxes">
                        <span class="label">Impuestos:</span>
                        <span class="value">{{ totalTaxes() | currency: cart[0].currency }}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    }

    <app-help></app-help>