:host {
  height: 100%;
  display: block;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;  
  background-color: #ef806a6e;
  color: white;
}

.btn-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.60rem 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;  
  background-color: #ff6647;
  color: white;
}

.icon-back {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.btn-nuvant {
  border: none;
  background-color: #ff6647;
  margin-bottom: 1rem;
}

