:host {
  height: 100%;
  display: block;
}

.order-status-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.order-details {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  height: 150px;
}

.progress-container {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;  
  height: 150px;
}

.timeline-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.timeline-icons li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
  margin: 0 10px;
}

.timeline-icons li mat-icon {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ccc;
}

.timeline-icons li.active mat-icon {
  color: #ff6647;
}

.timeline-icons li.active p {
  color: #ff6647;
}

.timeline-icons li.pending mat-icon {
  color: #ccc;
}

.timeline-icons li.pending p {
  color: #6c757d;
}

.card-title {
  font-size: 20px;
}

.status-label {
  font-size: 12px;
  margin-top: 0;
}

.btn-nuvant{  
  border: none;
  background-color: #ff6647;
  color: white;
}

h5,p{
  color: black;
}

@media (max-width: 576px) {
  .timeline-icons {
    flex-direction: column;
    align-items: center;
  }
  .timeline-icons li {
    flex: none;
    margin-bottom: 15px;
  }
  .order-details {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
  }  
  .progress-container {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;  
    height: 350px;
  }
}

@media (min-width: 768px) {
  .timeline-icons li {
    margin: 0 15px;
  }
}

