:host {
  height: 100%;
  display: block;
}

.breadcrumb {
  .breadcrumb-item {
    a {
      color: #ff6647;
      text-decoration: gray;
      background-color: rgba(0, 0, 0, 0);

      &:hover {
        color: #e0543a;
      }
    }
  }
}

.alert {
  margin-top: 1rem;
}

.empty-cart {
  background-color: #ef806a6e;
  color: white;
  font-size: 0.9rem;
}

.order-details {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-container {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.progress-container h5 {
  margin-bottom: 20px;
}

.timeline-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.timeline-icons li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
  margin: 0 10px;
}

.timeline-icons li mat-icon {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ccc;
}

.timeline-icons li.active mat-icon {
  color: #ff6647;
}

.timeline-icons li.active p {
  color: #ff6647;
}

.card-title {
  font-size: 20px;
}

.status-label {
  font-size: 12px;
  margin-top: 0;
}

@media (max-width: 576px) {
  .breadcrumb {
    .breadcrumb-item {
      a {
        color: #ff6647;
        text-decoration: none;

        &:hover {
          color: #e0543a;
        }
      }
    }
  }

  .timeline-icons {
    flex-direction: column;
    align-items: center;
  }

  .timeline-icons li {
    flex: none;
    margin-bottom: 15px;
  }

  .order-details {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
  }

  .progress-container {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .timeline-icons li {
    margin: 0 15px;
  }
}

::ng-deep .mat-paginator-page-size-label {
  display: none;
}